@media (max-width: 760px) {
    .wraper01 {
        flex-direction: column;
        align-items: center;
    }
    .burger-icon {
        display: block;
    }
    nav {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-around;
    }
    .header-cont {
        width: 350px;
        margin: 10px auto;
    }
}